* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
  font-family: "Merriweather", sans-serif;
}
.top-container {
  background-color: #faf4b7;
  padding-top: 100px;
}
h1 {
  font-family: "Sacramento", cursive;
  font-size: 5.625rem;
  color: #66bfbf;
}
h2 {
  font-family: "Merriweather", serif;
  font-size: 2.5rem; /* * 16px = 1rem = 1em = 100% * */
  color: #66bfbf;
  font-weight: normal;
}
h3,
a {
  color: #11999e;
}
.cloud {
  position: absolute;
  width: 100px;
}
.cloud-1 {
  top: 20px;
  right: 300px;
}
.cloud-2 {
  top: 400px;
  left: 300px;
}
.profile {
  margin: 50px auto;
  width: 40%;
}
#hello {
  margin: 20px auto;
}
.skill-row {
  width: 50%;
  margin: 0 auto;
  padding: 30px;
}
.skills {
  margin: 50px auto;
}
.web-img,
.reading-img {
  width: 20%;
}
.web-img {
  float: left;
  margin-right: 30px;
}
.reading-img {
  float: right;
  margin-left: 30px;
}
p {
  line-height: 2;
}
.contact-me {
  margin: 50px auto;
  width: 40%;
}
.bottom-container {
  background-color: #faf4b7;
  padding-top: 30px;
}
.footer-link {
  margin: 0 20px;
}
.bottom-container p {
  padding: 30px;
}
.btn {
  height: 50px;
  background-color: #f0e145;
  border-radius: 20px;
  padding: 5px;
  text-decoration: none;
  color: black;
}
.contact-desc {
  margin: 20px 0;
}
